  <header class="header">
    <nav id="navbar">
      <div class="container flex items-center justify-between flex-wrap">
        <a href="#" class="logo">
          <div class="flex items-center flex-shrink-0 w-32">
            <%= image_tag 'images/odaiba-logo.svg' %>
          </div>
        </a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
          <ul class="menu">
            <li><a href="#our-cause" class="font-semibold text-gray-900">
            <%= I18n.t('nav.cause') %>
          </a></li>
            <li><a href="#features" class="font-semibold text-gray-900">
            <%= I18n.t('nav.features') %>
          </a></li>
            <li><a href="#demo" class="font-semibold text-gray-900">
            <%= I18n.t('nav.demo') %>
          </a></li>
            <li><a href="#contact" class="font-semibold text-gray-900">
            <%= I18n.t('nav.contact') %>
          </a></li>
          <li id="lang" class="font-semibold text-gray-900"><%= link_to 'EN', '../', relative: 'true' %><p class="py-5">|</p><%= link_to '日本語', '/jp' %></li>
          </ul>
      </div>
    </nav>
  </header>