<!DOCTYPE html>

<head>
  <title>odaiba</title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
  <link rel="icon" type="image/png" href="images/odaiba-favicon-32x32.png"/>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
 <header class="header">
    <nav id="navbar">
      <div class="container flex items-center justify-between flex-wrap">
        <a href="#" class="logo">
          <div class="flex items-center flex-shrink-0 w-32">
            <%= image_tag 'images/odaiba-logo.svg' %>
          </div>
        </a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
          <ul class="menu">
            <li><a href="#our-cause" class="font-semibold text-gray-900">
            <%= I18n.t('nav.cause') %>
          </a></li>
            <li><a href="#features" class="font-semibold text-gray-900">
            <%= I18n.t('nav.features') %>
          </a></li>
            <li><a href="#demo" class="font-semibold text-gray-900">
            <%= I18n.t('nav.demo') %>
          </a></li>
            <li><a href="#contact" class="font-semibold text-gray-900">
            <%= I18n.t('nav.contact') %>
          </a></li>
          <li id="lang" class="font-semibold text-gray-900"><%= link_to 'EN', '/', relative: 'true' %><p class="py-5">|</p><%= link_to '日本語', '/jp' %></li>
          </ul>
      </div>

    </nav>
  </header>


  <!---------------------------------- TOP VIEW ---------------------------------->

  <div id="top-view" class="top-view pt-20 md:p-10 lg:h-screen lg:pt-32 lg:p-24">
    <div class="welcome md:flex md:items-center">
      <div class="order-2 image lg:w-1/2">
        <img src="images/top-image.png" alt="Home Learning">
      </div>
      <div class="order-1 lg:w-1/2 p-5 lg:pr-20 lg:pt-12">
        <div class="slogan text-2xl lg:text-5xl font-bold mb-10">
          <%= I18n.t('top.slogan') %>
        </div>
        <div class="CTA text-center md:text-left">
         <a class="typeform-share button" href="https://form.typeform.com/to/SksVjAuk" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#F9975F;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank"><%= I18n.t('top.button') %></a>
        </div>
      </div>
    </div>
  </div>
  <!---------------------------------- OUR CAUSE ---------------------------------->

  <section id="our-cause" class="our-cause sm:mt-20 lg:y-20">
    <h2 class="text-2xl lg:text-3xl font-extrabold text-center m-4" style="color:#F88436"><%= I18n.t('cause.question') %></h2>
    <hr class="border w-12 m-auto" style="border-color:#F88436">
    <div data-aos="fade-down" class="py-4 px-2 md:px-8 md:px-20 lg:flex">
      <div class="lg:w-1/3 p-8">
        <%= image_tag 'images/painpoint-1.png', class: 'block mb-4', alt: "Hard to Focus" %>
        <div class="text block text-center">
          <h4 class="font-extrabold text-xl mb-2"><%= I18n.t('cause.focus') %></h4>
          <p class="text-sm text-gray-700"><%= I18n.t('cause.focus-b') %></p>
        </div>
      </div>
      <div class="lg:w-1/3 p-8">
        <%= image_tag 'images/painpoint-2.png', class: 'block mb-4', alt: "Social Isolation" %>
        <div class="text block text-center">
          <h4 class="font-extrabold text-xl mb-2"><%= I18n.t('cause.social') %></h4>
          <p class="text-sm text-gray-700"><%= I18n.t('cause.social-b') %></p>
        </div>
      </div>
      <div class="lg:w-1/3 p-8">
        <%= image_tag 'images/painpoint-3.png', class: 'block mb-4', alt: "Mental Health" %>
        <div class="text block text-center">
          <h4 class="font-extrabold text-xl mb-2"><%= I18n.t('cause.health') %></h4>
          <p class="text-sm text-gray-700"><%= I18n.t('cause.health-b') %></p>
        </div>
      </div>
    </div>
  </section>

  <!---------------------------------- FEATURES ---------------------------------->

  <section id="features" class="w-screen features my-4 md:my-20">
    <h2 class="text-2xl lg:text-3xl font-extrabold text-center m-4" style="color:#F88436"><%= I18n.t('features.help') %></h2>
    <hr class="border w-12 m-auto" style="border-color:#F88436">
        <div class="content py-4">
        <div class="shape-block w-screen md:w-auto">
          <div data-aos="fade-down" class="feature md:flex mt-8 mb-8">
            <div class="md:w-1/2">
              <div class="text-2xl p-5 lg:pr-8 lg:pt-12">
                <h4 class="font-black md:text-3xl mb-4"><%= I18n.t('features.programming') %></h4>
                <hr class="border w-20 mb-6" style="border-color:#F88436">
                <p class="text-base text-gray-700 leading-relaxed md:pr-16"><%= I18n.t('features.programming-b') %></p>
              </div>
            </div>
            <div class="shape-img md:w-1/2 relative">
              <div>
                <%= image_tag 'images/shape-1.png', class: 'bg-shape', alt: "shape" %>
                <%= image_tag 'images/feature-1.png', class: 'overlay-image p-8 mt-12 ml-4 absolute top-0', alt: "Mom with kids using ipad" %>
              </div>
            </div>
          </div>
        </div>

      <div class="shape-block w-screen md:w-auto">
        <div data-aos="fade-down" class="feature md:flex mt-8 mb-8">
          <div class="md:w-1/2 md:order-2">
            <div class="text-2xl p-5 lg:pl-12 lg:pt-12">
              <h4 class="font-black md:text-3xl mb-4"><%= I18n.t('features.progress') %></h4>
              <hr class="border w-20 mb-6" style="border-color:#F88436">
              <p class="text-base text-gray-700 leading-relaxed md:pr-16"><%= I18n.t('features.progress-b') %></p>
            </div>
          </div>
            <div class="shape-img md:order-1 md:w-1/2 relative">
              <%= image_tag 'images/shape-2.png', class: 'bg-shape', alt: "shape" %>
              <%= image_tag 'images/feature-2.png', class: 'overlay-image p-8 mt-12 mr-4 absolute top-0', alt: "Online lessons" %>
            </div>
        </div>
      </div>

      <div class="shape-block w-screen md:w-auto">
        <div data-aos="fade-down" class="feature md:flex mt-8">
          <div class="md:w-1/2">
            <div class="text-2xl p-5 lg:pr-8 lg:pt-12">
              <h4 class="font-black md:text-3xl mb-4"><%= I18n.t('features.custom') %></h4>
              <hr class="border w-20 mb-6" style="border-color:#F88436">
              <p class="text-base text-gray-700 leading-relaxed md:pr-16"><%= I18n.t('features.custom-b') %></p>
            </div>
          </div>
          <div class="shape-img md:w-1/2 relative">
            <%= image_tag 'images/shape-3.png', class: 'bg-shape', alt: "shape" %>
            <%= image_tag 'images/feature-3.png', class: 'overlay-image  p-8 mt-12 ml-4 absolute top-0', alt: "Teacher using laptop" %>
          </div>
        </div>
      </div>

    </div>

  </section>

  <!---------------------------------- DEMO ---------------------------------->
  <h2 class="text-2xl lg:text-3xl font-extrabold text-center m-4" style="color:#F88436"><%= I18n.t('demo.title') %></h2>
  <hr class="border w-12 m-auto mb-8" style="border-color:#F88436">
  <div class="w-screen md:w-1/2 container mx-auto">
    <section class="embed-container">
      <div>
        <iframe src="https://www.youtube.com/embed/YXsXco0evCA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
      </div>
    </section>
  </div>

  <!---------------------------------- MEDIA ---------------------------------->
  <div class="body-blackout"></div>
  <h2 class="text-2xl lg:text-3xl font-extrabold text-center mt-10 m-4" style="color:#F88436"><%= I18n.t('media.title') %></h2>
  <hr class="border w-12 m-auto mb-8" style="border-color:#F88436">
  <div class="media-links md:flex w-screen md:justify-center">
    <div class="media-container my-4 md:my-0 tooltip">
      <button class="popup-trigger" data-popup-trigger="one">
        <%= image_tag 'images/shimbun.png', class: 'media-logo h-100 w-100 object-fit', alt: "kyoto shimbun" %>
      </button>
        <span class="tooltiptext"><%= I18n.t('media.shimbun') %></span>
    </div>

    <div class="popup-modal" data-popup-modal="one">
      <i class="fas fa-2x fa-times text-white bg-primary p-3 popup-modal__close"></i>
      <h1 class="font-weight-bold">
        Modal One Title
      </h1>
    </div>

    <div class="media-container my-4 md:my-0 tooltip">
      <button class="popup-trigger" data-popup-trigger="two">
        <%= image_tag 'images/nhk.png', class: 'media-logo h-100 w-100 object-fit', alt: "nhk" %>
      </button>
        <span class="tooltiptext"><%= I18n.t('media.nhk') %></span>
    </div>
    <div class="media-container my-4 md:my-0 tooltip">
      <a href="https://www.lewagon.com/blog/alumni-won-japan-hackathon" target="_blank" rel="noopener noreferrer"><%= image_tag 'images/wagon-tokyo.png', class: 'media-logo h-100 w-100 object-fit', alt: "Le Wagon Tokyo" %></a>
        <span class="tooltiptext"><%= I18n.t('media.tokyo') %></span>
    </div>
    <div class="media-container my-4 md:my-0 tooltip">
      <a href="https://www.lewagon.com/blog/explore-a-world-of-possibilities-with-le-wagon" target="_blank" rel="noopener noreferrer"><%= image_tag 'images/wagon-singapore.png', class: 'media-logo h-100 w-100 object-fit', alt: "Le Wagon Singapore" %></a>
        <span class="tooltiptext"><%= I18n.t('media.singapore') %></span>
    </div>
  </div>


  <!---------------------------------- CONTACT US ---------------------------------->

  <section id="contact" class="contact mt-10">

    <div class="container m-auto p-12">
      <h2 class="text-3xl text-gray-700 font-extrabold text-center mb-4"><%= I18n.t('contact.title') %></h2>
      <hr class="border border-gray-700 w-12 m-auto mb-6">
      <p class="text-center text-gray-700"><%= I18n.t('contact.message') %></p>

      <div class="form mt-10">

        <form name="contact" class="w-full max-w-lg m-auto" netlify>
          <div class="flex flex-wrap -mx-3 mb-3">
            <div class="w-full md:w-1/2 px-3 md:mb-0">
              <input class="appearance-none block w-full bg-white text-sm text-gray-700 rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" name="first name" placeholder="First Name">
            </div>
            <div class="w-full md:w-1/2 px-3">
              <input class="appearance-none block w-full bg-white text-sm text-gray-700 rounded-lg py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" name="last name" placeholder="Last Name">
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-2">
            <div class="w-full px-3">
              <input class="appearance-none block w-full bg-white text-sm text-gray-700 rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-email" type="email" name="email" placeholder="Email address">
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
              <textarea class="appearance-none block w-full bg-white text-sm text-gray-700 rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="message" placeholder="Message" rows="10" cols="30"></textarea>
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-2">
            <div class="w-full px-3 text-center">
              <button class="text-sm bg-orange-500 hover:bg-orange-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 rounded" type="submit">
                <%= I18n.t('contact.send') %>
              </button>
            </div>
          </div>
        </form>
      </div>

    </div>

  </section>

  <!---------------------------------- FOOTER ---------------------------------->

<footer class="py-6 px-8">
    <div class="flex items-center justify-between">
      <a href="#">
        <div class="logo block w-24">
          <%= image_tag 'images/odaiba-logo.svg', alt: "logo" %>
        </div>
      </a>

      <div class="social block">
        <div class="text-sm flex">
          <a href="#" class="block opacity-75 hover:opacity-50 mr-6 w-4">
            <%= image_tag 'images/facebook.svg', alt: "facebook" %>
          </a>
          <a href="#" class="block opacity-75 hover:opacity-50 mr-6 w-4">
            <%= image_tag 'images/instagram.svg', alt: "instagram" %>
          </a>
          <a href="#" class="block opacity-75 hover:opacity-50 mr-6 w-4">
            <%= image_tag 'images/twitter.svg', alt: "twitter" %>
          </a>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      once: true,
      duration: 600,
    });
    (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()
  </script>
</body>

