<!DOCTYPE html>

<head>
  <title>odaiba</title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
  <link rel="icon" type="image/png" href="images/odaiba-favicon-32x32.png"/>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>

  <!---------------------------------- NAVBAR ---------------------------------->
  <%= partial 'partials/navbar' %>

  <!---------------------------------- TOP VIEW ---------------------------------->
  <%= partial 'partials/top_view' %>
  
  <!---------------------------------- OUR CAUSE ---------------------------------->
  <%= partial 'partials/our_cause' %>

  <!---------------------------------- FEATURES ---------------------------------->
  <%= partial 'partials/features' %>
  
  <!---------------------------------- DEMO ---------------------------------->
  <%= partial 'partials/demo' %>

  <!---------------------------------- MEDIA ---------------------------------->
  <%= partial 'partials/media' %>

  <!---------------------------------- CONTACT US ---------------------------------->
  <%= partial 'partials/contact_us' %>

  <!---------------------------------- FOOTER ---------------------------------->
  <%= partial 'partials/footer' %>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      once: true,
      duration: 600,
    });
    (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()
  </script>
</body>

